@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f1f1;
  font-family: 'Poppins';
}

header{
  background-color: #fff;
  min-height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}
nav{
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.5em;
  width: 70%;

}
nav a{
  text-decoration: none;
  color: #333;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.1em;
}
a:hover,
a:focus{
  text-decoration: underline;
  opacity: .8;
}

.container{
  width: 70%;
  margin: 2em auto;
}

/* Content Hold ADD-WORKOUT form and WORKOUT-CARDs */
.content{
  display: grid;
  gap: 2em;
  /* border: 2px solid red; */
  width: 100%;
  grid-template-columns: 2fr 1fr;
  padding: 1.5em 0;

}
/* CARDS */
.card-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* border: 2px solid black; */
  width: 100%;
}
.card{
  /* border: 2px solid rgb(43, 18, 18); */
  border-radius: .3em;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 250px;
  /* min-height: 130px; */
  padding: 1em;
  box-shadow: 0px 0px 10px 0px;
}

.card h3{
  color: #026440;
  margin-bottom: .5em;
}
.flex-sp-bw{
  display: flex;
  justify-content: space-between;
  gap:4px;
}
.icons{
  display: flex;
  gap: .4em;  
}

.icons i,
i{
  cursor: pointer;
  /* border: 2px solid red; */
}

/* FORM */
div.form{
  /* border: 2px solid black; */
  width: 100%;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px;
  border-radius: .4em;
  position: sticky;  /*TO make the form always sticked on the right */
  top: 2em;
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 2px solid red; */
  width: 100%;
  padding: 1em;
  gap: .8em;
}
form h1{ 
  margin: .7em 0;
  /* border: 2px solid red; */
  width: 100%;
  text-align: center;
  
}

form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
}

form div label{
  width: 35%;
  /* border: 2px solid red; */
}

form div input{
  padding: .4em;
  width: 100%; 
  border: 1px solid lightgray;
  border-radius: .2rem;

}

.btn{
  width: 100%;
  margin: 1em 0;
  padding:  .7em;
  border-radius: .5em;
  font-weight: bold;
  color: #f1f1f1;
  border: 1px solid lightgray;
  background-color: #026440;
}
/* MODAL  */
.modal{
  border: 2px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  background-color: #333333b7;
}
.active{
  display: flex;
}
#form-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px;
  background-color: #f1f1f1;  
  border-radius: 1em;
  max-width: 400px;
  min-width: fit-content;
  padding: 1em 1.8em;
  min-height: 40vh;
}
#form-modal h2{
  margin: .8em 0;
}
#form-modal input,
#form-modal button{
  padding: .5em 1em;
  width: 100%;
  border: 1px solid dimgray;
  border-radius: .5em;
}
#form-modal button{
  margin: 1em 0;
  cursor: pointer;
  color: #fff;
  background-color: #026440;
}

#form-modal button:hover,
#form-modal button:focus{
  background-color: #013321;
  
}

@media screen and (max-width: 1080px) {
  .container{
    width: 80%;
  }

  .content{

    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width:680px) {
    .content{
      gap: 1em;
    }
    .card-container{
      width: 90%;
    }
    .card{
      width: 100%;
    }
    form{
      padding: .5em;
    }
    form h1{
        margin:.5em 0;
    }
}

@media screen and (max-width: 500px) {
  .container{
    width: 90%;
  }
  .content{
    gap: .5em;
  }
  form label{
    display: none;
  }
  .card h3{
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  form h1{
    font-size: 1.4em;
  }
  
}